body {
    font-family: sans-serif;
    margin: 0;
  }
  
  .container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    top: 200px;
    background-color: red;
    border-radius: 10px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    cursor: pointer;
  }
  #txt{
    width: 477px;
    outline: none;
    background:none;
    border: none;
    border-bottom: 1px solid white;
  }
  #login{
    border-radius: 20px;
  }
  ::-webkit-input-placeholder{
    color:#FFF;
 }